$black: #3b444b;
$white: #F4F4F4;
$purple: #6E48AA;
$graylight:#D4D4D4;
$graylighter: rgba(212, 212, 212, 0.3);
$darkblue: #25215E;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
$font: 'Source Sans Pro',
sans-serif;
$fontSize: 16px;
.error-msg {
    color: red;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 1rem;
    text-align: left;
}

.error-label {
    color: red;
}

.success-message {
    width: 100%;
    font-size: 1.2rem;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1rem;
    background-color: #DFF2BF;
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
        height: 2rem;
    }
    svg path {
        fill: #4F8A10;
    }
    span {
        font-size: 400;
        font-weight: 200;
        color: #4F8A10;
    }
}

@media only screen and (max-width: 48rem) {
    .success-message {
        font-size: .8rem;
    }
    .error-msg {
        font-size: .8rem;
    }
}