$black: #000;
$white: #fff;
$purple: #6E48AA;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
$font: 'Source Sans Pro',
sans-serif;
$fontSize: 16px;