$black: #3b444b;
$white: #F4F4F4;
$purple: #6E48AA;
$graylight:#D4D4D4;
$graylighter: rgba(212, 212, 212, 0.3);
$darkblue: #25215E;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
$font: 'Source Sans Pro',
sans-serif;
$fontSize: 16px;